@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-main: #4B9DCB;
    --color-halftone: #DBEBF5;
    --color-light: #A0BED0;
    --color-green: #4AB7B6;
    --color-main-graphit: #41424C;
    --color-main-red: #EA7173;
}


/* чтобы увеличенный центр не обрезался */
.mobile-swiper-slider .swiper {
    overflow: visible;
}

/* чуть приглушим неактивные */
.mobile-swiper-slider .swiper-slide {
    transition: all 0.3s;
    opacity: 0.55;
    scale: 0.85;
}

.mobile-swiper-slider .swiper-slide-active {
    opacity: 1;
    scale: 1;
}


.slider-progress {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    gap: 6px;

    width: 160px;
    height: 4px;
}


.slider-progress .bar {
    position: relative;
    flex: 1;
    background: rgba(25, 103, 139, 0.25);
    border-radius: 999px;
    overflow: hidden;
}

.slider-progress .bar > i {
    position: absolute;
    inset: 0;
    width: 0%;
    background: white;
    border-radius: 999px;
    transition: width 0.12s linear; /* мягко, но быстро */
}
